<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Buy fried chicken{% endblock %}</title>
    </head>
    <body>
        <header>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </header>
        <section>
            {% block main_content %}{% endblock %}
        </section>
    </body>
</html>
